In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

C:\Users\mikex\anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
tickers = ['TSLA','AAPL']
sec_data = pd.DataFrame()
start_date = '2016-1-1'
for t in tickers:
    sec_data[t] = wb.DataReader(t,data_source='yahoo', start=start_date)['Adj Close']

In [3]:
sec_returns = np.log(sec_data/sec_data.shift(1))
sec_returns

                TSLA      AAPL
Date
2015-12-31       NaN       NaN
2016-01-04 -0.071672  0.000855
2016-01-05  0.000090 -0.025379
2016-01-06 -0.019844 -0.019764
2016-01-07 -0.015598 -0.043121
...              ...       ...
2020-09-08 -0.236518 -0.069666
2020-09-09  0.103669  0.039112
2020-09-10  0.013720 -0.033191
2020-09-11  0.003709 -0.013216
2020-09-14  0.118522  0.029559

[1184 rows x 2 columns]

TSLA

In [5]:
sec_returns['TSLA'].mean()*250

0.45817981284298115

In [7]:
sec_returns['TSLA'].std()*250**0.5

0.573149349345216

AAPL

In [9]:
sec_returns['AAPL'].mean()*250

0.32809950824837153

In [10]:
sec_returns['AAPL'].std()*250**0.5

0.2974316119452914

PRESENTATION

In [12]:
sec_returns[['TSLA','AAPL']].mean()*250

TSLA    0.45818
AAPL    0.32810
dtype: float64

In [13]:
sec_returns[['TSLA','AAPL']].std()*250**0.5

TSLA    0.573149
AAPL    0.297432
dtype: float64

Covariance and correlations

In [18]:
TSLA_var = sec_returns['TSLA'].var()
print(TSLA_var)
TSLA_var_a = sec_returns['TSLA'].var()*250
print(TSLA_var_a)

0.0013140007066193779
0.3285001766548445

In [19]:
AAPL_var = sec_returns['AAPL'].var()
print(AAPL_var)
AAPL_var_a = sec_returns['AAPL'].var()*250
print(AAPL_var_a)

0.0003538622551374976
0.0884655637843744

In [21]:
cov_matrix_a = sec_returns.cov() *250
cov_matrix_a

          TSLA      AAPL
TSLA  0.328500  0.068193
AAPL  0.068193  0.088466

In [22]:
corr_matrix = sec_returns.corr()
corr_matrix

          TSLA      AAPL
TSLA  1.000000  0.400026
AAPL  0.400026  1.000000

Calculating Portfolio Risk

In [26]:
weights = np.array([0.5,0.5])

In [28]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov()*250, weights))
pfolio_var

0.1383381760850047

In [29]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov()*250, weights)))**0.5
pfolio_vol

0.37193840361678804

In [30]:
print(str(round(pfolio_vol*100, 5))+' %')

37.19384 %

Diversifiable Risk of a portfolio

In [31]:
dr = pfolio_var - (weights[0]**2*TSLA_var_a)-(weights[1]**2*AAPL_var_a)
dr

0.034096740975199984

In [32]:
print(str(round(dr*100,3))+' %')

3.41 %

non-diversifiable risk of a portfolio

In [34]:
n_dr_1 =pfolio_var -dr

In [35]:
n_dr_1

0.10424143510980471

In [37]:
n_dr_2 = (weights[0]**2*TSLA_var_a)+(weights[1]**2*AAPL_var_a)
n_dr_2

0.10424143510980471